* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Inter", "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: #1A1733;
    border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
    background: #1A1733;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #00000000;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: #00000000;
    border-radius: 10px;
}

::-webkit-resizer {
    background: #00000000;
    border-radius: 10px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: url(../img/bg.png), #0D0C1C;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

a, button, textarea, input {
    outline: none;
    text-decoration: none;
}

.responsive-main {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.responsive-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.container {
    max-width: 1366px;
    width: 100%;
    padding: 0px 20px;
    margin: 0px auto;
}

.responsive-table {
    position: relative;
    margin-top: 24px;
    overflow: auto;
}
.responsive-table::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.body-table {
    min-width: 1050px;
    width: 100%;
}

.head-table {
    min-width: 1050px;
    width: 100%;
    position: relative;
    z-index: 2;
    display: -ms-grid;
    display: grid;
    padding: 24px 36px;
    -ms-grid-columns: (1fr)[9];
    grid-template-columns: repeat(9, 1fr);
    background: #1A1733;
    border-radius: 16px;
}
.head-table > .item {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    color: #FFFFFF;
}

.row-item {
    -webkit-animation: fadein 0.6s ease-in-out;
            animation: fadein 0.6s ease-in-out;
    padding: 24px 12px;
    border-bottom: 2px solid #292648;
}
.row-item:last-child {
    border-bottom: none;
}
.row-item > .top {
    margin-bottom: 4px;
}
.row-item > .top > .data, .row-item .bottom > .data {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[9];
    grid-template-columns: repeat(9, 1fr);
}
.row-item > .top > .data > .item, .row-item .bottom > .data > .item {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
}
.row-item > .top > .data > .item.completed, .row-item .bottom > .data > .item.completed {
    color: #59FF9C;
}

.body-table {
    background: #131128;
    -webkit-box-shadow: 0px 38px 116px -24px rgba(53, 71, 118, 0.06);
            box-shadow: 0px 38px 116px -24px rgba(53, 71, 118, 0.06);
    border-radius: 16px;
    padding: 0px 24px;
    padding-top: 22px;
    margin-top: -22px;
}

.icon-done {
    margin-left: 24px;
    width: 36px;
    height: 36px;
    position: relative;
}
.icon-done::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 19px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.73564 21.4766C7.44389 21.4247 7.16455 21.286 6.93912 21.0606L0.939325 15.0606C0.353547 14.4748 0.35356 13.5251 0.939354 12.9393C1.52515 12.3535 2.4749 12.3535 3.06067 12.9393L8 17.8788L20.9395 4.93934C21.5252 4.35355 22.475 4.35355 23.0608 4.93934C23.6466 5.52513 23.6466 6.47487 23.0608 7.06066L9.06078 21.0607C8.70034 21.4211 8.2021 21.5598 7.73564 21.4766Z' fill='%23F32929'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.icon-status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
footer > p {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.responsive-footer {
    margin-top: 56px;
    padding: 8px 0;
    background: #131128;
}

.logo {
    position: absolute;
    max-width: 204px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.logo > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.button-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%;
    color: #ACA4CD;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.button-a:hover {
    opacity: 0.8;
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.navigation > .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 32px;
}
.navigation > .item:last-child {
    margin-right: 0;
}
.navigation > .item > p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #ACA4CD;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.navigation > .item > p:hover {
    opacity: 0.8;
}

.navigation-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
}

.b-type-a {
    position: relative;
}
.b-type-a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3px;
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    pointer-events: none;
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.choose-welcome {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 72px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 64px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 59px;
    background: linear-gradient(90.13deg, #301A29 0%, #191134 100%);
}
header::before {
    border-radius: 59px;
    background: linear-gradient(92.42deg, #46283E 0%, rgba(255, 255, 255, 0) 6.45%);
}

.responsive-header {
    padding-top: 88px;
    margin-bottom: 30px;
}

.welcome-info > h1 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 74px;
    line-height: 88px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.welcome-info > h1 > span {
    color: #FD222A;
}
.welcome-info > p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #ACA4CD;
}
.welcome-info > p > span {
    color: #FFFFFF;
}

.action-welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px;
}
.action-welcome > * {
    margin-right: 24px;
}
.action-welcome > *:last-child {
    margin-right: 0;
}

.button-b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    padding: 0px 48px;
    background: linear-gradient(95.17deg, #7C1111 21.82%, #FF0202 100%);
    border-radius: 77px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%;
}
.button-b::before {
    border-radius: 77px;
    background: -webkit-gradient(linear, left top, left bottom, from(#DC1818), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, #DC1818 0%, rgba(255, 255, 255, 0) 100%);
    padding: 2px;
}
.button-b > p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.button-c {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%;
}
.button-c > p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.welcome-creator {
    pointer-events: none;
    position: absolute;
    max-width: 556px;
    width: 100%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    right: 0;
}
.welcome-creator > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
}

.responsive-welcome {
    padding: 79px 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.anchor {
    position: absolute;
    top: -40px;
}

.info-a {
    position: relative;
    padding: 32px 36px;
    width: 100%;
}
.info-a > h1 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.list-info > p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #ACA4CD;
    margin-bottom: 12px;
}
.list-info > p:last-child {
    margin-bottom: 0;
}
.list-info > p > span {
    color: #FFFFFF;
}

.top-calc {
    margin-bottom: 34px;
    padding: 0px 36px;
    padding-top: 32px;
}
.top-calc > h1 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.top-calc > p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #ACA4CD;
}

.bottom-calc {
    background: rgba(196, 196, 196, 0.04);
    border-radius: 0px 0px 20px 20px;
    padding: 24px 36px;
    padding-bottom: 38px;
}
.bottom-calc > .item > p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 2px;
}

.input-a {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 16px 0px 12px;
    height: 40px;
}
.input-a > input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background: none;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: white;
}
.input-a > input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.55);
}
.input-a > input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.55);
}
.input-a > input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.55);
}
.input-a > input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.55);
}
.input-a > input::placeholder {
    color: rgba(255, 255, 255, 0.55);
}
.input-a > p {
    white-space: nowrap;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 12px;
}

.bottom-calc > .item {
    margin-bottom: 24px;
}
.bottom-calc > .item:last-child {
    margin-bottom: 0;
}

.calculate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    background: linear-gradient(130.49deg, #1E1B3C 0%, #151225 100%);
    border-radius: 20px;
}
.calculate::before {
    padding: 4px;
    border-radius: 20px;
    background: linear-gradient(131.69deg, #302D5D 0%, rgba(255, 255, 255, 0) 22.92%);
}

.logo-bonus {
    max-width: 158px;
    width: 100%;
    margin-bottom: 28px;
}
.logo-bonus > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.list-bonus {
    width: 100%;
}
.list-bonus > .item {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    color: #FFFFFF;
}
.list-bonus > .item > span {
    color: #FF6A2A;
}

.info-bonus {
    position: relative;
    padding: 30px 38px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.responsive-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 460px 396px;
    grid-template-columns: 1fr 460px 396px;
    background: linear-gradient(95.41deg, rgba(21, 19, 44, 0.4) 0%, rgba(31, 30, 64, 0.4) 0.01%, rgba(21, 19, 44, 0.4) 100%);
    -webkit-backdrop-filter: blur(60px);
            backdrop-filter: blur(60px);
    border-radius: 20px;
}
.responsive-info::before {
    border-radius: 20px;
    padding: 4px;
    background: linear-gradient(131.69deg, #191834 0%, rgba(255, 255, 255, 0) 22.92%);
}

.responsive-benef {
    padding: 40px 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: linear-gradient(95.41deg, #15132C 0%, #14142A 0.01%, #111022 100%);
    border-radius: 16px;
    margin-top: 24px;
}
.responsive-benef::before {
    padding: 4px;
    border-radius: 16px;
    background: linear-gradient(131.69deg, #24244A 0%, rgba(255, 255, 255, 0) 22.92%);
}
.responsive-benef > .item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 20px;
}
.responsive-benef > .item:last-child {
    margin-right: 0;
}
.responsive-benef > .item > h1 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.responsive-benef > .item > p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #ACA4CD;
}

.head-faq {
    border-radius: 16px;
    padding: 14px 20px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 64px;
}
.head-faq::before {
    position: absolute;
    right: 20px;
    content: "";
    width: 24px;
    height: 24px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.51501 8.4652L12 16.9502L20.485 8.4652L19.071 7.0502L12 14.1222L4.92901 7.0502L3.51501 8.4652Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.head-faq.active {
    background: #1A1733;
}
.head-faq.active::before {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}
.head-faq > h1 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

.body-faq {
    padding: 8px 20px 16px 20px;
    display: none;
}
.body-faq > p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #ACA4CD;
}

.responsive-faq {
    margin-top: 24px;
}
.responsive-faq > .item {
    margin-bottom: 12px;
    background: #131128;
    border-radius: 16px;
}
.responsive-faq > .item:last-child {
    margin-bottom: 0;
}

.info-part > h1 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 4px;
}
.info-part > p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
}

.responsive-part {
    position: relative;
    padding: 32px 40px;
    padding-right: 0;
    background: url(../img/part.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.qr-data {
    max-width: 442px;
    width: 100%;
}
.qr-data > p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 8px;
}

.adress {
    width: 100%;
    overflow: hidden;
}
.adress > p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.copy-adress {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 24px;
    height: 24px;
    flex: none;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 22.0002H4.00001C3.46408 22.0188 2.94448 21.8141 2.5653 21.4349C2.18611 21.0557 1.98138 20.5361 2.00001 20.0002V10.0002C1.98138 9.46427 2.18611 8.94467 2.5653 8.56548C2.94448 8.1863 3.46408 7.98157 4.00001 8.00019H8.00001V4.00019C7.98138 3.46427 8.18611 2.94467 8.5653 2.56548C8.94448 2.1863 9.46408 1.98157 10 2.00019H20C20.5359 1.98157 21.0555 2.1863 21.4347 2.56548C21.8139 2.94467 22.0186 3.46427 22 4.00019V14.0002C22.0183 14.536 21.8135 15.0555 21.4344 15.4346C21.0553 15.8137 20.5358 16.0185 20 16.0002H16V20.0002C16.0183 20.536 15.8135 21.0555 15.4344 21.4346C15.0553 21.8137 14.5358 22.0185 14 22.0002ZM4.00001 10.0002V20.0002H14V16.0002H10C9.46417 16.0185 8.94474 15.8137 8.56563 15.4346C8.18651 15.0555 7.98169 14.536 8.00001 14.0002V10.0002H4.00001ZM10 4.00019V14.0002H20V4.00019H10Z' fill='white'/%3E%3C/svg%3E%0A");
    margin-left: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.copy-adress:hover {
    opacity: 0.8;
}

.qr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 8px;
    width: 96px;
    height: 96px;
}
.qr > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.qr-data {
    width: 100%;
    overflow: hidden;
    padding: 10px;
    padding-right: 0;
    background: rgba(255, 255, 255, 0.24);
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    border-radius: 8px 0px 0px 8px;
}

.adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 4px 12px;
    background: #FF5858;
    border-radius: 4px;
}

.info-qr {
    max-width: 546px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.responsive-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.notiff-copy {
    position: fixed;
    top: 20px;
    right: -100%;
    z-index: 10;
    background: linear-gradient(95.17deg, #7C1111 21.82%, #FF0202 100%);
    border-radius: 16px;
    padding: 20px 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.notiff-copy.active {
    right: 20px;
}

.responsive-part {
    margin-top: 24px;
}

.choose-info {
    width: 100%;
}
.choose-info > h1 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 74px;
    line-height: 88px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.choose-info > h1 > span {
    color: #FD222A;
}
.choose-info > p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.action-choose {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 42px;
}
.action-choose > .item {
    margin-right: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 247px;
    height: 74px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 20px;
    border-radius: 94.1535px;
}
.action-choose > .item:last-child {
    margin-right: 0;
}
.action-choose > .item::after {
    position: absolute;
    content: "";
    height: 15px;
    max-width: 212px;
    width: 100%;
    z-index: -1;
    -webkit-filter: blur(33.5842px);
            filter: blur(33.5842px);
    border-radius: 94.1535px;
    bottom: 5px;
}
.action-choose > .item::before {
    border-radius: 94.1535px;
}
.action-choose > .item > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 32px;
}
.action-choose > .item.type-l-a {
    background: linear-gradient(95.17deg, #D94718 21.82%, #FF4E02 100%);
}
.action-choose > .item.type-l-a::after {
    background: #F84D07;
}
.action-choose > .item.type-l-a.b-type-a::before {
    padding: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FC7C21), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, #FC7C21 0%, rgba(255, 255, 255, 0) 100%);
}
.action-choose > .item.type-l-b {
    background: linear-gradient(95.17deg, #B756F2 21.82%, #9E38E0 100%);
}
.action-choose > .item.type-l-b::after {
    background: #A742E6;
}
.action-choose > .item.type-l-b.b-type-a::before {
    padding: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(#E786FE), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, #E786FE 0%, rgba(255, 255, 255, 0) 100%);
}

.footer-type {
    margin-bottom: 100px;
}